In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mario\onedrive\documentos\datacamp\.venv\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\mario\onedrive\documentos\datacamp\.venv\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mario\onedrive\documentos\datacamp\.venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mario\onedrive\documentos\datacamp\.venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mario\onedrive\documentos\datacamp\.venv\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\mario\onedrive\documentos\datacamp\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install wget

Requirement already satisfied: wget in c:\users\mario\onedrive\documentos\datacamp\.venv\lib\site-packages (3.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [7]:
pd.__version__

'2.2.0'

In [6]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-29 18:16:52--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240129T231652Z&X-Amz-Expires=300&X-Amz-Signature=778b85c8e34bc10a63c1ca3ed27cc350d38576164ed70db45b7c082e29fbd9de&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-29 18:16:52--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240129T231652Z&X-Amz-Expires=300&X-Amz-Signature=778b85c8e34bc10a63c1ca3ed27cc350d38576164ed70db45b7c082e29fbd9de&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7,5M) [application/octet-stream]
Saving to: 'green_tripdata_2019-09.csv.gz'

     0K .......... .......... .......... .......... ..........  0% 3,42M 2s
    50K .......... .......... .......... .......... ..........  1% 7,97M 2s
   100K .......... .......... .......... .......... ..........  1% 3,90M 2s
   150K .......... .......... .......... .......... ..........  2% 25,6M 1s
   200K .......... .......... .......... .......... ..........  3% 4,77M 1s
   250K .......... .......... .......... .......... ..........  3% 12,2M 1s
   300K .......... .......... .......... .......... ..........  4% 8,80M 1s
   350K .......... .......... .......... .......... ..........  5% 7,62M 1s
   400K .......... .......... .......... .......... ..........  5% 12,1M 1s
   450K .......... .......... .......... .......... ..........  6% 4,82M 1s
   500K .......... .......... .......... .......... ..........  7% 22,6M 1s
   550K .......... .......... .......... .......... ..........  7% 12,7M 1s
   600K .......... .......... .......... .......... ..........  8% 7,04M 1s
   650K .......... .......... .......... .......... ..........  9% 23,4M 1s
   700K .......... .......... .......... .......... ..........  9% 7,00M 1s
   750K .......... .......... .......... .......... .......... 10% 11,8M 1s
   800K .......... .......... .......... .......... .......... 11% 2,19M 1s
   850K .......... .......... .......... .......... .......... 11% 23,6M 1s
   900K .......... .......... .......... .......... .......... 12% 12,5M 1s
   950K .......... .......... .......... .......... .......... 13% 3,87M 1s
  1000K .......... .......... .......... .......... .......... 13% 15,3M 1s
  1050K .......... .......... .......... .......... .......... 14% 7,95M 1s
  1100K .......... .......... .......... .......... .......... 14% 12,7M 1s
  1150K .......... .......... .......... .......... .......... 15% 22,7M 1s
  1200K .......... .......... .......... .......... .......... 16% 7,71M 1s
  1250K .......... .......... .......... .......... .......... 16% 4,06M 1s
  1300K .......... .......... .......... .......... .......... 17% 12,4M 1s
  1350K .......... .......... .......... .......... .......... 18% 10,8M 1s
  1400K .......... .......... .......... .......... .......... 18% 8,21M 1s
  1450K .......... .......... .......... .......... .......... 19% 22,2M 1s
  1500K .......... .......... .......... .......... .......... 20% 2,07M 1s
  1550K .......... .......... .......... .......... .......... 20% 16,2M 1s
  1600K .......... .......... .......... .......... .......... 21% 11,5M 1s
  1650K .......... .......... .......... .......... .......... 22% 11,7M 1s
  1700K .......... .......... .......... .......... .......... 22% 21,6M 1s
  1750K .......... .......... .......... .......... .......... 23% 1,35M 1s
  1800K .......... .......... .......... .......... .......... 24% 11,7M 1s
  1850K .......... .......... .......... .......... .......... 24% 23,3M 1s
  1900K .......... .......... .......... .......... .......... 25% 4,22M 1s
  1950K .......... .......... .......... .......... .......... 26% 24,7M 1s
  2000K .......... .......... .......... .......... .......... 26% 3,76M 1s
  2050K .......... .......... .......... .......... .......... 27% 6,46M 1s
  2100K .......... .......... .......... .......... .......... 28% 12,6M 1s
  2150K .......... .......... .......... .......... .......... 28% 22,8M 1s
  2200K .......... .......... .......... .......... .......... 29% 3,41M 1s
  2250K .......... .......... .......... .......... .......... 29% 12,2M 1s
  2300K .......... .......... .......... .......... .......... 30% 14,3M 1s
  2350K .......... .......... .......... .......... .......... 31% 4,19M 1s
  2400K .......... .......... .......... .......... .......... 31% 10,1M 1s
  2450K .......... .......... .......... .......... .......... 32% 5,08M 1s
  2500K .......... .......... .......... .......... .......... 33% 12,4M 1s
  2550K .......... .......... .......... .......... .......... 33% 24,1M 1s
  2600K .......... .......... .......... .......... .......... 34% 9,81M 1s
  2650K .......... .......... .......... .......... .......... 35% 20,6M 1s
  2700K .......... .......... .......... .......... .......... 35% 12,9M 1s
  2750K .......... .......... .......... .......... .......... 36% 7,08M 1s
  2800K .......... .......... .......... .......... .......... 37% 12,0M 1s
  2850K .......... .......... .......... .......... .......... 37% 5,81M 1s
  2900K .......... .......... .......... .......... .......... 38% 25,6M 1s
  2950K .......... .......... .......... .......... .......... 39% 21,7M 1s
  3000K .......... .......... .......... .......... .......... 39% 2,95M 1s
  3050K .......... .......... .......... .......... .......... 40% 23,3M 1s
  3100K .......... .......... .......... .......... .......... 41% 12,1M 1s
  3150K .......... .......... .......... .......... .......... 41% 2,46M 1s
  3200K .......... .......... .......... .......... .......... 42% 24,6M 1s
  3250K .......... .......... .......... .......... .......... 43% 9,10M 1s
  3300K .......... .......... .......... .......... .......... 43% 11,9M 1s
  3350K .......... .......... .......... .......... .......... 44% 24,9M 1s
  3400K .......... .......... .......... .......... .......... 44% 3,47M 1s
  3450K .......... .......... .......... .......... .......... 45% 11,3M 1s
  3500K .......... .......... .......... .......... .......... 46% 26,7M 1s
  3550K .......... .......... .......... .......... .......... 46% 7,38M 1s
  3600K .......... .......... .......... .......... .......... 47% 12,2M 1s
  3650K .......... .......... .......... .......... .......... 48% 11,7M 1s
  3700K .......... .......... .......... .......... .......... 48% 6,60M 1s
  3750K .......... .......... .......... .......... .......... 49% 11,6M 1s
  3800K .......... .......... .......... .......... .......... 50% 8,36M 1s
  3850K .......... .......... .......... .......... .......... 50% 11,7M 0s
  3900K .......... .......... .......... .......... .......... 51% 13,9M 0s
  3950K .......... .......... .......... .......... .......... 52% 2,48M 0s
  4000K .......... .......... .......... .......... .......... 52% 1,59M 1s
  4050K .......... .......... .......... .......... .......... 53% 94,3M 0s
  4100K .......... .......... .......... .......... .......... 54%  121M 0s
  4150K .......... .......... .......... .......... .......... 54%  215M 0s
  4200K .......... .......... .......... .......... .......... 55%  153M 0s
  4250K .......... .......... .......... .......... .......... 56%  359M 0s
  4300K .......... .......... .......... .......... .......... 56% 3,69M 0s
  4350K .......... .......... .......... .......... .......... 57% 6,74M 0s
  4400K .......... .......... .......... .......... .......... 58% 12,1M 0s
  4450K .......... .......... .......... .......... .......... 58% 11,5M 0s
  4500K .......... .......... .......... .......... .......... 59% 1,26M 0s
  4550K .......... .......... .......... .......... .......... 59%  204M 0s
  4600K .......... .......... .......... .......... .......... 60% 76,1M 0s
  4650K .......... .......... .......... .......... .......... 61%  111M 0s
  4700K .......... .......... .......... .......... .......... 61% 20,1M 0s
  4750K .......... .......... .......... .......... .......... 62% 2,40M 0s
  4800K .......... .......... .......... .......... .......... 63% 9,55M 0s
  4850K .......... .......... .......... .......... .......... 63% 12,5M 0s
  4900K .......... .......... .......... .......... .......... 64%  671K 0s
  4950K .......... .......... .......... .......... .......... 65% 7,78M 0s
  5000K .......... .......... .......... .......... .......... 65% 6,72M 0s
  5050K .......... .......... .......... .......... .......... 66% 2,03M 0s
  5100K .......... .......... .......... .......... .......... 67% 21,5M 0s
  5150K .......... .......... .......... .......... .......... 67% 13,1M 0s
  5200K .......... .......... .......... .......... .......... 68% 4,34M 0s
  5250K .......... .......... .......... .......... .......... 69% 5,00M 0s
  5300K .......... .......... .......... .......... .......... 69% 5,65M 0s
  5350K .......... .......... .......... .......... .......... 70% 4,44M 0s
  5400K .......... .......... .......... .......... .......... 71% 4,37M 0s
  5450K .......... .......... .......... .......... .......... 71% 27,4M 0s
  5500K .......... .......... .......... .......... .......... 72% 3,89M 0s
  5550K .......... .......... .......... .......... .......... 73% 35,6M 0s
  5600K .......... .......... .......... .......... .......... 73% 4,84M 0s
  5650K .......... .......... .......... .......... .......... 74% 6,92M 0s
  5700K .......... .......... .......... .......... .......... 74% 12,1M 0s
  5750K .......... .......... .......... .......... .......... 75% 9,86M 0s
  5800K .......... .......... .......... .......... .......... 76% 14,1M 0s
  5850K .......... .......... .......... .......... .......... 76% 10,1M 0s
  5900K .......... .......... .......... .......... .......... 77% 12,1M 0s
  5950K .......... .......... .......... .......... .......... 78% 12,2M 0s
  6000K .......... .......... .......... .......... .......... 78% 4,49M 0s
  6050K .......... .......... .......... .......... .......... 79% 22,8M 0s
  6100K .......... .......... .......... .......... .......... 80% 4,84M 0s
  6150K .......... .......... .......... .......... .......... 80% 3,87M 0s
  6200K .......... .......... .......... .......... .......... 81% 22,6M 0s
  6250K .......... .......... .......... .......... .......... 82% 12,8M 0s
  6300K .......... .......... .......... .......... .......... 82% 5,34M 0s
  6350K .......... .......... .......... .......... .......... 83% 6,70M 0s
  6400K .......... .......... .......... .......... .......... 84% 4,17M 0s
  6450K .......... .......... .......... .......... .......... 84% 24,4M 0s
  6500K .......... .......... .......... .......... .......... 85% 12,2M 0s
  6550K .......... .......... .......... .......... .......... 86% 6,26M 0s
  6600K .......... .......... .......... .......... .......... 86% 13,3M 0s
  6650K .......... .......... .......... .......... .......... 87% 12,9M 0s
  6700K .......... .......... .......... .......... .......... 88% 14,9M 0s
  6750K .......... .......... .......... .......... .......... 88% 10,9M 0s
  6800K .......... .......... .......... .......... .......... 89% 2,08M 0s
  6850K .......... .......... .......... .......... .......... 89% 5,93M 0s
  6900K .......... .......... .......... .......... .......... 90% 5,06M 0s
  6950K .......... .......... .......... .......... .......... 91% 10,1M 0s
  7000K .......... .......... .......... .......... .......... 91% 5,02M 0s
  7050K .......... .......... .......... .......... .......... 92% 9,02M 0s
  7100K .......... .......... .......... .......... .......... 93% 11,8M 0s
  7150K .......... .......... .......... .......... .......... 93% 4,96M 0s
  7200K .......... .......... .......... .......... .......... 94% 12,6M 0s
  7250K .......... .......... .......... .......... .......... 95% 16,2M 0s
  7300K .......... .......... .......... .......... .......... 95% 17,6M 0s
  7350K .......... .......... .......... .......... .......... 96% 9,00M 0s
  7400K .......... .......... .......... .......... .......... 97% 3,07M 0s
  7450K .......... .......... .......... .......... .......... 97% 21,3M 0s
  7500K .......... .......... .......... .......... .......... 98% 9,82M 0s
  7550K .......... .......... .......... .......... .......... 99% 10,7M 0s
  7600K .......... .......... .......... .......... .......... 99% 4,65M 0s
  7650K .......... ..........                                 100%  343M=1,1s

2024-01-29 18:16:54 (6,66 MB/s) - 'green_tripdata_2019-09.csv.gz' saved [7854533/7854533]

In [13]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-30 13:38:37--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.42.248, 16.182.105.168, 52.217.226.104, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.42.248|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.1'

     0K .......... ..                                         100% 58,9M=0s

2024-01-30 13:38:38 (58,9 MB/s) - 'taxi+_zone_lookup.csv.1' saved [12322/12322]

In [8]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=100)

In [9]:
len(df)

100

In [11]:
df.head(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
5,2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,21.0,0.5,0.5,0.00,6.12,NaN,0.3,28.42,2,1,0.0
6,2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,18.0,0.5,0.5,3.86,0.00,NaN,0.3,23.16,1,1,0.0
7,1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,3,1,0.0
8,1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,0.00,22.2,0.0,0.5,0.00,0.00,NaN,0.3,23.00,1,1,0.0
9,2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,0.14,2.5,0.5,0.5,0.00,0.00,NaN,0.3,3.80,2,1,0.0

In [14]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [15]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [16]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [17]:
from sqlalchemy import create_engine

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [19]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [12]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [13]:
df = next(df_iter)

In [14]:
len(df)

100000

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [16]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-01-04 14:04:31,2021-01-04 14:08:52,3,0.70,1,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5
99996,1,2021-01-04 14:18:46,2021-01-04 14:35:45,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5
99997,1,2021-01-04 14:42:41,2021-01-04 14:59:22,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5
99998,2,2021-01-04 14:39:02,2021-01-04 15:09:37,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5
99999,2,2021-01-04 14:49:36,2021-01-04 14:54:44,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5

In [16]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [17]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 4.17 s
Wall time: 11.6 s

1000

In [18]:
from time import time

In [20]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 12.239 second
inserted another chunk, took 11.383 second
inserted another chunk, took 10.613 second
inserted another chunk, took 11.396 second
inserted another chunk, took 10.883 second
inserted another chunk, took 13.686 second
inserted another chunk, took 11.675 second
inserted another chunk, took 12.289 second
inserted another chunk, took 10.256 second
inserted another chunk, took 10.259 second
inserted another chunk, took 10.636 second

C:\Users\Mario\AppData\Local\Temp\ipykernel_25048\2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 12.628 second
inserted another chunk, took 8.095 second

StopIteration:

In [23]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-29 16:38:45--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.167.32, 52.216.244.110, 52.217.113.80, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.167.32|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.3'

     0K .......... ..                                         100%  247M=0s

2024-01-29 16:38:45 (247 MB/s) - 'taxi+_zone_lookup.csv.3' saved [12322/12322]

In [24]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [25]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [26]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265